{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}


<div class="container mt-5">
    <div class="row">
        <div class="col-4 container">
            <img src="{% static 'images/meeting_room.jpg' %}"
                alt="Picture of an empty room with a table and desks around it." class="img-fluid">
        </div>
        <div class="col-8">
            <h3>My Bookings</h3>
            <ul>
                {% for booking in user_bookings %}
                <li>
                    <div class="d-flex align-items-start bg-body-tertiary mb-3" id="booking{{ booking.id }}">
                        <div class="col-2">{{ booking.date }}</div>
                        <div class="col-2">{{ booking.time }} </div>
                        <div class="col-2">{{ booking.space }}</div>
                        <div class="col button-container">
                            <div class="button-wrapper">
                                <a href="{% url 'edit_booking' booking.id %}" class="edit-btn btn">Edit</a>
                            </div>
                            <div class="button-wrapper">
                                <button type="button" class="btn delete-btn" data-bs-toggle="modal"
                                    data-bs-target="#modal-delete-{{booking.id}}">
                                    Delete
                                </button>
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="modal-delete-{{booking.id}}" tabindex="-1"
                                aria-labelledby="modal-delete-{{booking.id}}-label" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modal-delete-{{booking.id}}-label">Delete
                                                booking
                                            </h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete this booking?
                                            <br>
                                            <small class="text-muted">This action is permanent and cannot be
                                                undone.</small>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-success"
                                                data-bs-dismiss="modal">No</button>
                                            <a href="{% url 'delete_booking' booking.id %}"
                                                class="btn btn-danger">Yes</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}

            </ul>
            <div class="col button-container">
                <div class="button-wrapper">
                    <a href="{% url 'facilities' %}" class="btn">Back to Facilities Main Page</a>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- delete modal-->


{% block extras %}
<script src="{% static 'js/bookings.js' %}"></script>
{% endblock extras %}
{% endblock content %}