{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div class="container mt-5">
    <div class="row">
        <div class="col-4 container">
            <img src="{% static 'images/meeting_room.jpg' %}"
                alt="Picture of an empty room with a table and desks around it." class="img-fluid">
        </div>
        <div class="col-8">

            <h3>{{ facilities.title }}</h3>

            {{ facilities.content | safe }}

            <div class="col button-container">
                <div class="button-wrapper">
                    <a href="{% url 'view_bookings' %}" class="btn">See My Current Bookings</a>
                </div>
            </div>

            <div class="card-body">
                {% if user.is_authenticated %}
                <h4>Book one of our spaces here</h4>

                <form id="reservationForm" method="post" style="margin-top: 1.3em;">
                    {{ reservation_form | crispy }}
                    {% csrf_token %}
                    <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% else %}
                <p>Log in to reserve a space.</p>
                {% endif %}
            </div>
        </div>

    </div>

</div>
{% endblock content %}