body {
    background-color: #fff;
}

.dark-bg {
    background-color: #31708E;
}

.btn:hover {
    background-color: #8fc1e3;
}

.btn {
    background-color: #31708E;
    color: #fff;
}

.button-container {
    display: flex;
    align-items: center;
}

.button-wrapper {
    padding: 5px;
}

.social {
    color: #fff;
}

.social:hover {
    color: #8fc1e3;
}

.active {
    font-weight: 700;
}

.nav-item {
    font-size: large;
}