body {
    background-color: #F7F9FB;
}

.dark-bg {
    background-color: #31708E;
}

.btn:hover {
    background-color: #8fc1e3;
}

.btn {
    background-color: #31708E;
    color: #F7F9FB;
}

.button-container {
    display: flex;
    align-items: center;
}

.button-wrapper {
    padding: 5px;
}

.social {
    color: #fff;
}

.social:hover {
    color: #8fc1e3;
}

.active {
    font-weight: 700;
}

.navbar {
    padding: 0;
}

.nav-item {
    font-size: large;
}

.alert {
    color: darkred;
    text-align: center;
}

#map {
    height: 100px;
    width: 100%;
}